body {}

@font-face {
  font-family: test1;
  /* src: "Kumar_One_Outline"; */
  /* src: local(); */
  src: url(./Kumar_One_Outline/KumarOneOutline-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: test2;
  src: "Spicy_Rice";
  font-style: normal;
  font-weight: normal;
}

.font-serif {
  font-family: serif;
}

.font-sans {
  font-family: sans-serif;
}

.font-monospace {
  font-family: monospace;
}

.font-test1 {
  font-family: test1;
}

.font-test2 {
  font-family: test2;
}
